<?xml version="1.0" encoding="UTF-8"?>
<web-app id="AUCTION_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>practice09-sec</display-name>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <security-constraint>
  <display-name>SecurityConstraint</display-name>
  <web-resource-collection>
   <web-resource-name>AuctionSecured</web-resource-name>
   <url-pattern>/*</url-pattern>
   <!--  
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    -->
  </web-resource-collection>
  <auth-constraint>
   <role-name>auctionUser</role-name>
  </auth-constraint>
  <user-data-constraint>
   <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
  <realm-name>file</realm-name>
  <!-- 
  <form-login-config>
   <form-login-page>/logon.faces</form-login-page>
   <form-error-page>/logonError.faces</form-error-page>
  </form-login-config>
  -->
 </login-config>
 <security-role>
  <role-name>auctionUser</role-name>
 </security-role>
 <security-role>
  <role-name>auctionAdmin</role-name>
 </security-role>
</web-app>
